@using RubberduckWeb.Controllers
@using RubberduckWeb.Models

@model IEnumerable<InspectionInfo>

@{
    ViewBag.Title = "Index";
}

<div class="lead">
    <h3>Inspections</h3>
</div>
<section id="codeInspections">
    <div class="col-lg-12">
        <p>
            By default (it can be configured not to), Rubberduck automatically runs the code through all inspections after successfully parsing all modules. There are multiple types of inspections, including <em>code quality</em>, <em>readability and maintainability</em>, <em>language opportunities</em>, and a number of <em>Rubberduck opportunities</em>.
            The list of inspections on this page (as well as their respective content and code examples) is generated directly from XML documentation in the source code; inspections marked "pre-release" have not been "green-released" yet.
        </p>
        <p>
            Most code inspections propose at least one quick-fix action that can be applied with a single click. Severity levels range from <em>Do Not Show</em> to <em>Error</em> and are completely configurable, for every single inspection.
        </p>
        <p>
            As with any static code analysis tool, the accuracy of the results highly depends on how well the tool is understanding the code: late-bound meber calls against <code>Variant</code> or <code>Object</code>, variables being passed <code>ByRef</code> to a procedure that assigns the parameter, and various other hard-to-analyze scenarios may produce false positives. 
            <strong>Never blindly apply automated code fixes without first reviewing the affected code!</strong>
        </p>
        <div>
            <table class="inspection-list-table">
                <tbody>
                @foreach (var item in Model.OrderBy(m => m.InspectionName)
                    .Zip(Enumerable.Range(0, Model.Count()), (s, r) => new {Group = r / 2, Item = s})
                    .GroupBy(i => i.Group, g => g.Item).ToList())
                {
                    <tr>
                        @foreach (var info in item)
                        {
                            <td id=@info.InspectionName>
                                <span><a href="Details/@info.InspectionName"><strong>@info.InspectionName</strong></a></span>
                                @if (info.IsPreRelease)
                                {
                                    <span>Pre-Release</span>
                                }
                                <p>@info.Summary</p>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>