@using RubberduckWeb.Controllers
@using Rubberduck.Parsing.Inspections.Abstract
@using Rubberduck.Parsing.Inspections.Resources

@model IEnumerable<IInspection>

@{
    ViewBag.Title = "Index";
}

<div class="lead">
    <h3>Inspections</h3>
</div>
<section id="codeInspections">
    <div class="col-lg-12">
        <p>
            Most code inspections propose at least one quick fix that can be applied with a single click. Severity levels range from Do Not Show to Error and are completely configurable, for every single inspection.
        </p>
        <p>
            <br />
            <img alt="Code Inspections" src="~/Content/Images/CodeInspections.png" class="border-image" />
            <br />
        </p>
        <div>
            <ul>
                @foreach (var item in Model)
                {
                    <li>@Html.ActionLink(InspectionsController.FormatInspectionName(item), "Details", new { id = item.Name })</li>
                }
            </ul>
        </div>
    </div>
</section>