@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-6">
        <h2>About Rubberduck</h2>
        <p class="col-md-12">
            It all started with a VBA Excel add-in that enabled writing unit tests that would output their results to an interface&mdash;
            the default implementation sent the output to the debug/immediate window; it was somewhat beautiful... but limited.
        </p>
        <p class="col-md-12">
            Rubberduck simply emerged from the idea of rewriting that unit testing code in C# to deploy it as a COM extension /
            add-in specifically for the VBA IDE, the glorious VBE.
            We had code that could integrate with the IDE and read (write, too) the contents of code files,
            and do everything else the VBE API allows us to do.
        </p>
        <p class="col-md-12">
            <strong>So we take the code in the IDE, parse it with ANTLR, and then very cool things happen.</strong>
        </p>
    </div>
    <img alt="code inspections" src="../../Content/Images/CodeInspections.png"/>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Our Mission</h3>
        <p class="col-md-12">
            Rubberduck is first and foremost a <em>project</em>, aiming to make the VBA editor a professional-grade 
            integrated development environment. We want to give professional VBA developers the tools they need to be professionals,
            the tools that are a standard part of the toolbox elsewhere in the software development community.
        </p>
        <p class="col-md-12">
            
        </p>
    </div>
</div>
