@model IEnumerable<System.ServiceModel.Syndication.SyndicationItem>
    
@if (Model == null)
{
    <p class="alert alert-danger">Aww snap! We couldn't retrieve the RSS Feed!</p>
}
else
{
    foreach (var post in Model)
    {
        <div class="row feedSnippet col-md-12">
            <h4>
                @*Id is the permalink*@
                <a href="@post.Id" target="_blank">@post.Title.Text</a> <small>@post.PublishDate.Date.ToLongDateString()</small>
            </h4>
            <p>@Html.Raw(post.Summary.Text)</p>
        </div>
    }
}
