@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h3>I found a bug, or I have a feature request.</h3>

<p>
    First see if there isn't already an <a href="https://github.com/rubberduck-vba/Rubberduck/issues?utf8=%E2%9C%93&amp;q=is%3Aopen" target="_blank">open issue</a> 
    on our GitHub repository that describes this bug or feature, and then simply
    <a href="https://github.com/rubberduck-vba/Rubberduck/issues/new" target="_blank">create a new issue</a>.
</p>

<h3>I have a question about how to use some feature in Rubberduck.</h3>
<p>
    Check the <a href="https://github.com/rubberduck-vba/Rubberduck/wiki" target="_blank">documentation on our wiki</a> first.<br/>
    If you can't find an answer, the next place to look is at <a href="https://github.com/rubberduck-vba/Rubberduck/issues?utf8=%E2%9C%93&q=label%3Asupport" target="_blank">issues labeled [Support]</a>.<br/>
    You can also check the [<a href="http://stackoverflow.com/questions/tagged/rubberduck" target="_blank">Rubberduck</a>] tag on Stack Overflow.<br/>
    If you still have a question, then feel free to <a href="https://github.com/rubberduck-vba/Rubberduck/issues/new" target="_blank">submit a new issue</a>.<br/>
    We'll mark it with the [Support] label when we answer.
</p>

<h3>I forked and fixed a bug, or implemented a new feature.</h3>

<p><a href="https://github.com/rubberduck-vba/Rubberduck/pulls" target="_blank">Submit a pull request</a>, we'll merge it into our master branch, and ship it with the next release!</p>

<h3>I'd like to contact you directly.</h3>

<p>Send us an email at <address><a href="mailto:contact@rubberduck-vba.com" target="_blank">contact@rubberduck-vba.com</a></address></p>
