@{
    ViewBag.Title = "Rubberduck - Contact Us";
}
<h3>@ViewBag.Title</h3>

<h4>I found a bug, or I have a feature request idea</h4>
<p>
    The best part of Rubberduck is that it's community driven - we work together to make Rubberduck as awesome as possible, and you can help!
    If you think you have found a new bug, or you have a feature to request, the process is very straightforward:
    <a href="https://github.com/rubberduck-vba/Rubberduck/issues/new/choose">create a new issue</a>!
</p>
<h4>I have a question about how to use some feature in Rubberduck.</h4>
<p>
    Couldn't find it in the project's <a href="https://github.com/rubberduck-vba/Rubberduck/wiki">wiki</a>? Create a new <a ref="https://github.com/rubberduck-vba/Rubberduck/issues/new?template=support.md&labels=support">support issue</a>.
</p>

<h4>I want to help!</h4>
<p>
    Pull requests welcome! Fork our repository, and comment on an issue you would like to tackle - we can guide you to the finish line if you need, just ask!
</p>
<p>
    Email the core devs: <a href="mailto:contact@rubberduckvba.com">contact@rubberduckvba.com</a>
</p>
