@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<h3>I found a bug, or I have a feature request for the IDE.</h3>
<p>
    The best part of Rubberduck is that it's community driven - we take input from all members of the community to make it better.
    If you think you have found a bug, or you have a feature to request, the process is very straightforward:
    first see if there isn't already an <a href="https://github.com/rubberduck-vba/Rubberduck/issues?utf8=%E2%9C%93&amp;q=is%3Aopen" target="_blank">open issue</a>
    on our GitHub repository that describes this bug or feature, and then simply
    <a href="https://github.com/rubberduck-vba/Rubberduck/issues/new" target="_blank">create a new issue</a>.
    The Rubberduck team (and even other community members) will begin discussion on your issue and we'll all come to a solution together.
</p>

<h3>I found a bug, or I have a feature request for the website.</h3>
<p>
    Just like the Rubberduck IDE, we have a GitHub repository for the Rubberduck Website. We encourage users to submit their issues
    to it, simply check first that <a href="https://github.com/rubberduck-vba/RubberduckWeb/issues">one does not yet exist</a>, and
    if it doesn't <a href="https://github.com/rubberduck-vba/RubberduckWeb/issues/new">create one</a>. The development community
    will read, assess and respond to your issues as soon as we're able.
</p>

<h3>I have a question about how to use some feature in Rubberduck.</h3>
<ul>
    <li>Check the <a href="https://github.com/rubberduck-vba/Rubberduck/wiki" target="_blank">documentation on our wiki</a> first.</li>
    <li>If you can't find an answer, the next place to look is at <a href="https://github.com/rubberduck-vba/Rubberduck/issues?utf8=%E2%9C%93&q=label%3Asupport" target="_blank">issues labeled [Support]</a>.</li>
    <li>You can also check the [<a href="http://stackoverflow.com/questions/tagged/rubberduck" target="_blank">Rubberduck</a>] tag on Stack Overflow.</li>
    <li>If you still have a question, then feel free to <a href="https://github.com/rubberduck-vba/Rubberduck/issues/new" target="_blank">submit a new issue</a>.</li>
    <li>We'll mark it with the [Support] label when we answer.</li>
</ul>

<h3>I forked and fixed a bug, or implemented a new feature.</h3>
<p>
    We welcome all positive contributions to Rubberduck from the community. We can't all be perfect, but if we can combine the expertise of our team
    and the expertise of our users we will reach new levels with Rubberduck and make it the single greatest VBE IDE in existence.
</p>
<p>
    If you've fixed or added something simply <a href="https://github.com/rubberduck-vba/Rubberduck/pulls" target="_blank">submit a pull request</a>, we'll merge it into our master branch, and ship it with the next release!
</p>

<h3>I'd like to contact you directly.</h3>
<p>
    If there's something you wish to discuss with us and an issue on GitHub or question on Stack Overflow doesn't suffice,
    we're completely open to communication about your particular concern and will try to get back to you as soon as we can.
</p>
<p>
    Send us an email at <address><a href="mailto:contact@rubberduckvba.com" target="_blank">contact@rubberduck-vba.com</a></address>
</p>
