
@{
    ViewBag.Title = "Features";
}
<section id="indentation">
    <h3>
        Smart Indenter
    </h3>
    <p>The original author and current maintainer of the popular <a href="http://www.oaltd.co.uk/indenter/indentpage.asp" target="_blank">Smart Indenter</a> add-in have graciously offered the latest version of their source code to the Rubberduck project. Thanks to Rob Bovey and Stephen Bullen, Rubberduck 2.0 has the smartest automagic indentation built-in.</p>
    <p>...with all your favorite settings:</p>
    <div>
        <img alt="Rubberduck intenter settings" src="../../Content/Images/IndenterSettings.PNG" />
    </div>
</section>


