@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Bring the VBE into this century!</h2>
    <p class="lead">
        Or help us do it! Rubberduck is a very active open-source COM add-in project that integrates with the Visual Basic Editor to enable the features every programmer wants to have in their IDE.
        From unit testing to source control, from code inspections to refactorings, programming in VBA will never be the same.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Unit Testing</h2>
        <p>Rubberduck gives you a powerful and fully integrated test environment for your VBA code.</p>
        <p><img src="~/Content/Images/TestRunner.png" alt="Test Explorer dockable toolwindow"/></p>
        <p>That's right. Unit testing. In VBA.</p>
        <p>@Html.ActionLink("Learn more »", "UnitTesting", "Home", null, null, "unit-testing", null, new { @class = "btn btn-default" })</p> 
    </div>
    <div class="col-md-4">
        <h2>Code Inspections</h2>
        <p>Rubberduck warns you about potential quality issues by inspecting your code base.</p>
        <p><img src="~/Content/Images/CodeInspections.png" alt="Inspection Results dockable toolwindow" /></p>
        <p>...and provides quick fixes for many of them too!</p>
        <p>@Html.ActionLink("Learn more »", "Inspections", "Home", null, null, null, null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Refactorings</h2>
        <p>Clean up your code by easily renaming existing, or extracting new methods.</p>
        <p><img src="~/Content/Images/Refactoring.png" alt="Refactorings context menu" /></p>
        <p>Real refactorings, one click away. Hmm ok, make that two.</p>
        <p>@Html.ActionLink("Learn more »", "Refactorings", "Home", null, null, null, null, new {@class = "btn btn-default"})</p> 
    </div>
</div>
<div class="row jumbotron">
    <!--empty divs here help us center the image-->
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="~/Content/Images/Rubberduck.png"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <p>Are you running the latest version?</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/rubberduck-vba/Rubberduck/releases">Download</a>
        </p>
        <p>View the source code on GitHub. Star us if you like!</p>
        <p><a class="btn btn-default btn-lg" href="https://github.com/rubberduck-vba/Rubberduck/">Repository</a>
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div>
        <a class="col-sm-2" href="https://www.jetbrains.com/resharper/"><img alt="JetBrains ReSharper" src="../../Content/Images/icon_ReSharper.png" /></a>
        <p class="col-lg-8">
            Since the project's early days, JetBrains' Open-Source team has been supporting Rubberduck - and we deeply thank them for that. ReSharper has been not only a tool we couldn't do without; it's been an inspiration, the ultimate level of polished perfection to strive for in our own IDE add-in project. So just like you're missing out if you write VBA and you're not using Rubberduck, you're missing out if you write C# and aren't using ReSharper.
        </p>
        <p class="col-lg-8">
            <small>Note: Rubberduck is not a JetBrains product. JetBrains does not contribute and is not affiliated to the Rubberduck project in any way.</small>
        </p>
    </div>
</div>