
@{
    ViewBag.Title = "Features";
}
<section id="indentation">
    <h3>
        Smart Indenter
    </h3>
    <div class="col-lg-12">
        <p>The original author and current maintainer of the popular <a href="http://www.oaltd.co.uk/indenter/indentpage.asp" target="_blank">Smart Indenter</a> add-in have graciously offered the latest version of their source code to the Rubberduck project. Thanks to Rob Bovey and Stephen Bullen, Rubberduck 2.0 has the smartest automagic indentation built-in.</p>
        <p>...with all your favorite settings:</p>
        <div>
            <img alt="Rubberduck intenter settings" src="../../Content/Images/IndenterSettings.png" />
        </div>
        <p>The <em>Undo Indent</em> feature is not implemented... but it's not needed either, because Rubberduck performs only two operations on code modules when indenting: it first deletes the content, then writes the indented code back in one single operation. The VBE's native <em>undo</em> shortcut (Ctrl+Z) is therefore not overwhelmed, and you can effectively <em>undo indent</em> by simply pressing Ctrl+Z twice.</p>
    </div>
    <div class="row"></div>
</section>


