@{
    ViewBag.Title = "InspectionResults";
}

@model List<Rubberduck.Inspections.ICodeInspectionResult>
<div class="row">
    @foreach (var item in Model)
    {
        <table>
            <tr>@item.Inspection.Severity</tr>
            <tr>@item.Description</tr>
            <tr>@item.QualifiedSelection.Selection.StartLine</tr>
            <tr>@item.QualifiedSelection.Selection.StartColumn</tr>
        </table>
    }
</div>
