@{
    ViewBag.Title = "InspectionResults";
}

@model List<Rubberduck.Inspections.ICodeInspectionResult>
<div class="row">
    <table class="inspection-results-table">
        <tbody>
            <tr>
                <th>Severity</th>
                <th>Description</th>
                <th>Start Line</th>
                <th>Start Column</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Inspection.Severity</td>
                    <td>@item.Description</td>
                    <td>@item.QualifiedSelection.Selection.StartLine</td>
                    <td>@item.QualifiedSelection.Selection.StartColumn</td>
                </tr>
            }
        </tbody>
    </table>
</div>
