
@{
    ViewBag.Title = "Navigation";
}

<section id="navigation">
    <h3>Navigation</h3>
    <div class="row">
        <div class="col-md-4">
            <h4>Code Explorer</h4>
            <p>is a bit like the Project Explorer, except it drills down to module members and can display member signatures.</p>
            <img src="~/Content/Images/CodeExplorer.png" />
        </div>
        <div class="col-md-4">
            <h4>ToDo Explorer</h4>
            <p>finds configurable markers in comments, and regroups them all in one convenient place.</p>
            <img src="~/Content/Images/TodoExplorer.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Find all references</h4>
            <p>to any procedure, parameter, variable, constant, enum, library function, line label, even built-in identifiers.</p>
            <img src="~/Content/Images/FindAllReferences.png" />
        </div>
        <div class="col-md-4">
            <h4>Go to implementation</h4>
            <p>finds all implementations of interface members. If you're coding against abstractions, this feature is priceless.</p>
            <img src="~/Content/Images/GoToImplementation.png" />
        </div>
        <div class="col-md-4">
            <h4>Find symbol</h4>
            <p>lets you search for literally anything, literally anywhere. From procedures to parameters, locals to globals, constants, enums and their members, user-defined types and their members, modules, classes, forms, line labels, and probably other things I'm forgetting</p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/FindSymbol.png" />
        </div>
    </div>
</section>