@{
    ViewBag.Title = "Rubberduck - Navigation";
}

<section id="navigation">
    <h3>Navigation</h3>
    <div class="row">
        <div class="col-lg-6">
            <h4>Code Explorer</h4>
            <p class="col-lg-12">
                The Code Explorer is a full replacement for the Project Explorer &mdash; only better.
                It has all the old features, such as importing, exporting, and removing (only our import allows you to
                import multiple modules, unlike the Project Explorer), and some new ones, such as indenting a procedure,
                module, all modules in a folder, or all modules in a project. It also sports Commit and Undo commands to
                open the Source Control panel and commit or undo all changes in a tracked file without needed to open the
                Source Control panel.
            </p>
        </div>
        <div>
            <img alt="Code Explorer" class="img-thumbnail" src="~/Content/Images/CodeExplorer.png" onclick="$displayImage('/Content/Images/CodeExplorer.png')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Todo Explorer</h4>
            <p class="col-lg-12">
                The Todo explorer finds "todo ", "note ", and "bug " markers in your code by default, but is fully configurable in the Settings dialog.
            </p>
        </div>
        <div class="col-lg-6">
            <img alt="Todo Explorer" class="img-thumbnail" src="~/Content/Images/TodoExplorer.png" onclick="$displayImage('/Content/Images/TodoExplorer.png')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Find all references</h4>
            <p class="col-lg-12">Quickly locate all references to any procedure, parameter, variable, constant, enum, library function, line label, even built-in identifiers.</p>
        </div>
        <div>
            <img alt="Find all references" class="img-thumbnail" src="~/Content/Images/FindAllReferences01.png" onclick="$displayImage('/Content/Images/FindAllReferences01.png')" />
            <img alt="Find all references" class="img-thumbnail" src="~/Content/Images/FindAllReferences02.png" onclick="$displayImage('/Content/Images/FindAllReferences02.png')" />
            <img alt="Find all references" class="img-thumbnail" src="~/Content/Images/FindAllReferences03.png" onclick="$displayImage('/Content/Images/FindAllReferences03.png')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Find all implementation</h4>
            <p class="col-lg-12">
                If you're coding against abstractions, this feature is priceless: use it on any interface member to locate all its implementations.
            </p>
        </div>
        <div>
            <img alt="Find all implementations" class="img-thumbnail" src="~/Content/Images/FindImplementations.png" onclick="$displayImage('/Content/Images/FindImplementations.png')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Find symbol</h4>
            <p class="col-lg-12">
                Search for literally anything, literally anywhere. From procedures to parameters, locals to globals, constants, enums and their members, user-defined types and their members, modules, classes, forms, line labels, and probably other things I'm forgetting. If it has a name, it can be navigated to.
            </p>
        </div>
        <div class="col-lg-6">
            <img alt="Find symbol" class="img-thumbnail" src="~/Content/Images/FindSymbol.png" onclick="$displayImage('/Content/Images/FindSymbol.png')" />
        </div>
    </div>
</section>