@{
    ViewBag.Title = "Rubberduck - News";
}

<section class="row lead">
    <h2>What's up duck?</h2>

    <p>
        When we have an announcement to make, we publish on <a href="https://rubberduckvba.wordpress.com/" target="_blank"><strong>Rubberduck News</strong></a>.
        If you're following us on Twitter or WordPress, you'll be notified right away.
        Here's what you might have been missing lately...
    </p>
</section>
<div class="row">
    <h3>Rubberduck News</h3>
    <section id="blogFeed" class="col-md-9">
        <!--We'll load this client side to speed up inital page load-->
    </section>

    @section scripts{
        <script>
            $(function() {
                $('#blogFeed').load('@Url.Action("BlogFeed")');
            });
        </script>
    }
    
    <div id="twitterFeed" class="col-md-3">
        <a class="twitter-timeline" href="https://twitter.com/rubberduckvba" data-widget-id="689036212724723712" height="1200">Tweets by @@rubberduckvba</a>
        <script>
            !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
    </div>
</div>



