
@{
    ViewBag.Title = "Rubberduck - Reference Explorer";
}

<div class="row">
    <div class="col-md-6">
        <h2>Reference Explorer</h2>
        <p class="col-md-12">
            Because we got tired of wading through hundreds of "Microsoft *" type libraries and never remembering what the description was for the regex library,
            we added this game-changer feature to Rubberduck, and now you can search libraries by name or description, and you can pin the ones you frequently use so that you never need to search for them again.
        </p>
    </div>
    <img alt="reference explorer dialog" src="../../Content/Images/ReferenceExplorer.png" />
</div>