
@{
    ViewBag.Title = "SourceControl";
}

<section id="sourceControl">
    <h3>
        Source Control
    </h3>
    <p>
        Powered by <a href="https://github.com/libgit2/libgit2sharp" target="_blank">LibGit2Sharp</a>,
        you can now create a local or remote git repository (including GitHub!) and commit, push and pull
        changes, and create, switch and merge branches directly from a docked toolwindow in the VBE.
    </p>

    <p>See <a href="https://github.com/rubberduck-vba/Rubberduck/wiki/Source-Control:-Getting-Started"><strong>Source Control: Getting Started</strong></a> on the project's wiki for an overview.</p>
</section>