
@{
    ViewBag.Title = "Unit Test";
}
<section id="unitTesting">
    <h3>
        Unit Testing <small>This feature is unfortunately not available for all application hosts.</small>
    </h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/TestExplorer.png" />
        </div>
        <div class="col-md-6">
            <p>
                <strong>You're not dreaming.</strong> Rubberduck's testing API gives you an <em>Assert</em> class that lets you write <em>Arrange-Act-Assert</em> unit tests just like you would in a modern-day IDE.
            </p>
            <p>Use &#64;TestInitialize and &#64;TestCleanup methods to reduce test initialization code, and &#64;ModuleInitialize and &#64;ModuleCleanup markers to initialize fields available to all tests in a module.</p>
        </div>
    </div>
</section>