body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section {
    border-bottom-style: groove;
    border-width: thin;
    padding-bottom: 10px;
}

.jumbotron {
    background-color: #BCD1E4;
}

.lead {
    margin-bottom: 10px;
}

h3, .h3 {
    padding: 15px;
    /* Fade from light blue on left to transparent on right */
    background: #7697bd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #7697bd, rgba(255, 255, 255, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #7697bd, rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7697bd, rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7697bd, rgba(255, 255, 255, 0)); /* Standard syntax */

    /* round the borders off*/
    -ms-border-radius: 15px;
    border-radius: 15px;

    font-weight: bold;
    color: white;
}

    h3 small, .h3 small {
        color: #5E5D5D;
        float: right;
    }

section#codeInspections img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    float: right;
}

.dropdown-menu {
    display: none;
    position: relative;
    float: right;
    background-color: #222;
}

.dropdown-menu > li > a {
    color: #999;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #222;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: inline-block;
}

.nav-item {
    display: inline-block;
}

.nav > li {
    display: inline-block;
    vertical-align: top;
}