body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

section {
    border-bottom-style: groove;
    border-width: thin;
    padding-bottom: 10px;
}

.jumbotron {
    background-color: #BCD1E4;
}

.lead {
    margin-bottom: 10px;
}

h3, .h3 {
    padding: 15px;
    /* Fade from light blue on left to transparent on right */
    background: #7697bd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #7697bd, rgba(255, 255, 255, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #7697bd, rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7697bd, rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7697bd, rgba(255, 255, 255, 0)); /* Standard syntax */
    /* round the borders off*/
    -ms-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}

    h3 small, .h3 small {
        color: #5E5D5D;
        float: right;
    }

section#codeInspections img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #222;
}

    .dropdown-menu > li > a {
        color: #999;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: #ffffff;
            text-decoration: none;
            background-color: #222;
        }

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.nav > li {
    display: inline;
    margin: 5px;
}

.nav {
    flex-direction: row;
}

nav {
    margin-top: 25px;
    border-top: 2px solid gray;
}

section {
    border-bottom-width: 0;
}

.img-thumbnail {
    width: 100px;
}

.image-div {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    float: right;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.inspections-form {
    border: 1px solid #202020;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 10px;
    margin: 0px;
    width: 100%;
}

    .inspections-form div {
        margin-top: 10px;
    }

        .inspections-form div:first-child {
            margin-top: 0px;
        }

.pre-release {
    color: maroon;
    
}

#code {
    width: 100%;
}

td, th {
    vertical-align: text-top;
    padding: 5px;
    margin: 5px;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

.inspection-list-table {
    border: 1px solid steelblue;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-collapse: separate;
    width: 100%;
}

.row {
    margin-bottom: 20px;
}

#code {
    font-size: 12pt;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.no-round-corners {
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
}

#inspection-busy-indicator, #inspection-error-indicator {
    margin: 10px 0;
}

.border-image {
    border: 1px solid #666;
    border-radius: 2px;
}

.feature-highlight {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

/* This is all for the mock VBE Error modal bit, it takes a lot of CSS to even get close to the VBE error dialogue, but we did it */
.vbe-mock-error-modal {
    width: 379px;
    font-family: 'Microsoft Sans Serif', 'Segoe UI', Arial, sans-serif;
    background-color: #f8f8f8;
    font-size: 11px;
    line-height: 12px;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid #666;
    box-shadow: rgba(0, 0, 0, 0.08) 1px 0px, rgba(0, 0, 0, 0.08) -1px 0px, rgba(0, 0, 0, 0.08) 0px 1px, rgba(0, 0, 0, 0.08) 0px -1px, rgba(0, 0, 0, 0.05) 2px 0px, rgba(0, 0, 0, 0.05) -2px 0px, rgba(0, 0, 0, 0.05) 0px 2px, rgba(0, 0, 0, 0.05) 0px -2px, rgba(0, 0, 0, 0.03) 3px 0px, rgba(0, 0, 0, 0.03) -3px 0px, rgba(0, 0, 0, 0.03) 0px 3px, rgba(0, 0, 0, 0.03) 0px -3px, rgba(0, 0, 0, 0.02) 4px 0px, rgba(0, 0, 0, 0.02) -4px 0px, rgba(0, 0, 0, 0.02) 0px 4px, rgba(0, 0, 0, 0.02) 0px -4px, rgba(0, 0, 0, 0.04) 5px 0px, rgba(0, 0, 0, 0.04) -5px 0px, rgba(0, 0, 0, 0.04) 0px 5px, rgba(0, 0, 0, 0.04) 0px -5px;
}

@media only screen and (max-width: 450px) {
    .vbe-mock-error-modal {
        width: 100% !important;
        margin: 0 !important;
        box-shadow: none !important;
        padding: 2px !important;
        border-radius: 0 !important;
    }

        .vbe-mock-error-modal .body {
            box-shadow: none !important;
            height: auto !important;
            padding-bottom: 6px !important;
        }

            .vbe-mock-error-modal .body .buttons {
                position: static !important;
                text-align: center !important;
            }
}

.vbe-mock-error-modal h1 {
    font-size: 12px;
    margin: 0 0 8px 0;
    padding: 0 0 0 2px;
}

.vbe-mock-error-modal .body {
    height: 176px;
    background-color: #f0f0f0;
    border: 1px solid #7b7b7b;
    padding: 15px 12px 0px 12px;
    border-radius: 1px;
    position: relative;
}

    .vbe-mock-error-modal .body .buttons {
        position: absolute;
        bottom: 10px;
    }

        .vbe-mock-error-modal .body .buttons div:first-child {
            margin-left: 0px;
        }

        .vbe-mock-error-modal .body .buttons div {
            display: inline-block;
            margin-left: 12px;
            background-color: #f0f0f0;
            border-top: 1px solid #ffffff;
            border-left: 1px solid #ffffff;
            border-right: 1px solid #696969;
            border-bottom: 1px solid #696969;
        }
            .vbe-mock-error-modal .body .buttons div:hover {
                background-color: #f0f0f0;
                border-top: 1px solid #696969;
                border-left: 1px solid #696969;
                border-right: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
            }

                .vbe-mock-error-modal .body .buttons div:hover a {
                    border-top: 1px solid #a0a0a0;
                    border-left: 1px solid #a0a0a0;
                    border-right: 1px solid #e3e3e3;
                    border-bottom: 1px solid #e3e3e3;
                }

            .vbe-mock-error-modal .body .buttons div a {
                color: #202020;
                display: block;
                width: 71px;
                height: 19px;
                text-align: center;
                border-top: 1px solid #e3e3e3;
                border-left: 1px solid #e3e3e3;
                border-right: 1px solid #a0a0a0;
                border-bottom: 1px solid #a0a0a0;
                padding-top: 2px;
            }

                .vbe-mock-error-modal .body .buttons div a:hover {
                    text-decoration: none;
                }

/* This is all for the mock VBE debugger bit */
.vbe-mock-debugger {
    border: 1px solid #696969;
    margin: 0;
    padding: 0;
}

    .vbe-mock-debugger .code-area {
        border-left: 20px solid #f0f0f0;
        font-family: monospace;
        font-size: 12px;
        position: relative;
    }

    .vbe-mock-debugger .comment {
        color: #008000;
    }

    .vbe-mock-debugger .keyword {
        color: #000096;
    }

    .vbe-mock-debugger .string-literal {
        color: #800000;
    }

    .vbe-mock-debugger .annotation {
        color: #008000;
    }

    .vbe-mock-debugger .attribute {
        color: #4e4e4e;
    }

    .vbe-mock-debugger .attribute-value {
        color: #3e3e3e;
    }

    .vbe-mock-debugger .code {
        border-left: 1px solid #000;
    }

        .vbe-mock-debugger .code .block {
            padding-left: 12px;
            margin-top: 12px;
            border-bottom: 1px solid #808080;
        }

            .vbe-mock-debugger .code .block:first-child {
                margin-top: 0;
            }

            .vbe-mock-debugger .code .block:last-child {
                border-bottom: none;
            }

            .vbe-mock-debugger .code .block .error {
                background-color: #ff0;
                position: relative;
                padding: 0;
                margin: 0;
            }

                .vbe-mock-debugger .code .block .error img {
                    background-color: #f0f0f0;
                    top: 1px;
                    position: absolute;
                }

.vbe-mock-indenter {
    font-family: 'Microsoft Sans Serif', 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    padding: 10px;
    margin: 0;
    background-color: #f8f8f8;
    line-height: 12px;
    border: 1px solid #dddddd;
}

    .vbe-mock-indenter * {
        margin: 0;
        padding: 0 0 3px 0;
        line-height: 12px;
        vertical-align: text-bottom;
    }

    .vbe-mock-indenter input[type=text] {
        vertical-align: text-top;
        width: 50px;
        display: inline-block;
    }

    .vbe-mock-indenter select {
        width: 210px;
        height: 20px;
    }

    .vbe-mock-indenter input[type=number] {
        width: 50px;
        height: 20px;
    }

    .vbe-mock-indenter .number-selector {
        display: inline-block;
        height: 20px;
        position: relative;
        padding-right: 20px;
    }

        .vbe-mock-indenter .number-selector .number-up:hover,
        .vbe-mock-indenter .number-selector .number-down:hover {
            background-color: #f0f0f0;
            border-top: 1px solid #a0a0a0;
            border-left: 1px solid #a0a0a0;
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
        }
        
        .vbe-mock-indenter .number-selector .number-up,
        .vbe-mock-indenter .number-selector .number-down {
            display: inline-block;
            width: 20px;
            height: 10px;
            position: absolute;
            margin: 0;
            padding: 0;
            right: 0;
            text-align: center;
            border: 1px solid #707070;
            background-color: #dddddd;
        }

        .vbe-mock-indenter .number-selector .number-up {
            top: 0;
            font-size: 10px;
        }

        .vbe-mock-indenter .number-selector .number-down {
            top: 10px;
            font-size: 7px;
        }

    .vbe-mock-indenter textarea {
        width: 100%;
        height: 200px;
        font-family: monospace;
    }

    .vbe-mock-indenter input[type=button],
    .vbe-mock-indenter input[type=submit] {
        display: inline-block;
        background-color: #f0f0f0;
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #696969;
        border-bottom: 1px solid #696969;
        color: #202020;
        display: block;
        width: 91px;
        height: 19px;
        text-align: center;
        border-top: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        padding: 2px;
    }

        .vbe-mock-indenter input[type=button]:hover,
        .vbe-mock-indenter input[type=submit]:hover {
            background-color: #f0f0f0;
            border-top: 1px solid #696969;
            border-left: 1px solid #696969;
            border-right: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            border-top: 1px solid #a0a0a0;
            border-left: 1px solid #a0a0a0;
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
        }

    .vbe-mock-indenter .indent-4 {
        margin-left: 16px;
    }

    .vbe-mock-indenter h4 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
    }

    .vbe-mock-indenter input[type=checkbox] {
        -webkit-appearance: none;
        background-color: #fff;
        border: 1px solid #777;
        padding: 6px;
        border-radius: 0;
        display: inline-block;
        position: relative;
        height: 12px;
        line-height: 12px;
    }

        .vbe-mock-indenter input[type=checkbox]:checked:after {
            content: '\2714';
            font-size: 13px;
            font-family: sans-serif;
            font-weight: bold;
            position: absolute;
            top: 1px;
            left: 0px;
            color: #000;
        }
